@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-[#070707] text-zinc-100 antialiased;
    min-height: 100vh;
  }

  ::selection {
    @apply bg-zinc-700/30;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
  }

  h1 {
    @apply text-3xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  p {
    @apply text-base text-balance;
  }

  a {
    @apply border-b border-white md:border-zinc-700 md:hover:border-white md:hover:text-white md:transition-colors pb-[0.2rem];
  }

  ul {
    @apply space-y-2 list-disc pl-5;
  }
}