@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }

  body {
    @apply bg-[#070707] text-zinc-100 antialiased;
  }

  ::selection {
    @apply bg-zinc-700/30;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
}

@layer components {
  .external-link {
    @apply inline-flex items-center tracking-tight hover:text-white transition-colors text-base;
  }
  
  .external-link span {
    @apply border-b border-zinc-800 hover:border-zinc-600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .content-spacing > * + * {
    @apply mt-6;
  }
  
  .content-spacing > h2 {
    @apply mt-12;
  }
} 